<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AntennaPattern.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup><userSettings>
        <AntennaPattern.My.MySettings>
            <setting name="APTextIP" serializeAs="String">
                <value>192.168.1.25</value>
            </setting>
            <setting name="APTextPort" serializeAs="String">
                <value>5555</value>
            </setting>
            <setting name="APCBRL" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="APCBRBW" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="APCBTGLvl" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="APCBAttenuatorInt" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="APCBNormalize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="APTBFCent" serializeAs="String">
                <value>1000000</value>
            </setting>
            <setting name="APTBNamaDUT" serializeAs="String">
                <value>DUT</value>
            </setting>
            <setting name="APTBMerekDUT" serializeAs="String">
                <value>Brand</value>
            </setting>
            <setting name="APTBNoSeri" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="APTBTipeDUT" serializeAs="String">
                <value>Antenna</value>
            </setting>
            <setting name="APTBOperator" serializeAs="String">
                <value>Operator</value>
            </setting>
            <setting name="APTBKomentar" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="APCBTG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="APCLIncludeTable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="APCBTTH" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="APCBStepSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="APTBUserCorr" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="APTBAmpCorr" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="APTBCableCorr" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="APTBAntCorr" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="APTBAF" serializeAs="String">
                <value>0</value>
            </setting>
        </AntennaPattern.My.MySettings>
    </userSettings>
</configuration>
